body {
    background-color: black;
}

.main-container {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#riddle {
    color: red;
    font-size: 68px;
}

#message {
    color: red;
}

