body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', Helvetica, Arial;
}

#cleaver {
    height: auto;
    width: 10%;
}

.main-container {
    width: auto;
    height: 500px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#itinerary {
    display: none;
}

#itinerary-show {
    color: rgb(244, 66, 66);
    font-size: 32px;
    line-height: 1.6;
    text-align: center;
}

#itinerary-hide {
    display: none;
}

#riddle {
    color: rgb(244, 66, 66);
    font-size: 46px;
}

#message {
    color: rgb(244, 66, 66);
    font-size: 24px;
    margin: 10px;
}

#password-container {
    margin: 20px;
}

#password {
    height: 50px;
    width: 150px;
    font-size: 18px;
}

button {
    height: 50px;
    width: 150px;
    font-size: 18px;
}

#image {
    width: 75%;
    height: auto;
}